<p>Hey Keg Master {{admin_user.first_name}}</p>
<p>A purchase was just cancelled and the user's account was credited. The details are below.</p>
<p>
    <strong>Name: </strong>
    <span>{{user.first_name}} {{user.last_name}}</span>
</p>
<p>
    <strong>Email: </strong>
    <span>{{user.email}}</span>
</p>
<p>
    <strong>Amount: </strong>
    <span>${{purchase.price}}</span>
</p>
<p>You don't need to take any actions. This is just for your records.</p>
<p>All My Love,</p>
<p>The Office Keg</p>